google-generativeai
openai
pandas
openpyxl
python-dotenv
matplotlib
seaborn
numpy
textblob
vaderSentiment
scikit-learn
wordcloud
scipy
statsmodels
textstat
networkx
tqdm
google-api-python-client
langdetect
